{% for team in allteams -%}
.wrapper > a.{{ team }} {
                background-color: #{{ colordict[team] }};
                font-family: NHL;
                {% if team in whitetext -%}
                color: white 
}
                {% elif team in yellowtext -%}
                color: yellow 
}
                {% else -%}
}
                {% endif %}
{% endfor %}
