@font-face {
  font-family: NHL;
  src: url(NHL.woff2);
}

* { box-sizing: border-box; }

.wrapper {
    border: 0px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

.wrapper > a {
    border: 0px;
    border-radius: 15px;
    background-color: #E0E0E0;
    padding: 1em;
    color: #000000;
    font-weight: bold;
    font-size: 450%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
